.app-wrapper {
    display: grid;
    grid-template:
  "h h"
  "n c"
  "f f";
    grid-template-rows: 70px 1fr 70px;
    grid-template-columns: 2fr 10fr;
    /*grid-gap: 10px;*/

    width: 1200px;
    margin: 0 auto;
}

.app-wrapper-content {
    grid-area: c;
}


.footer {
    grid-area: f;
}